$dark-grey: #444;
$nice-grey: #3b3e43;
$grey: #666;
$light-grey: #999;
$blue: #3498db;
$orange: #f39c12;
$red: #e74c3c;
$purple: #9b59b6;
$green: #27ae60;
$turquoise: #1abc9c;

$light-indigo: #3c6478;
$darker-blue: darken(#3498db, 7%);
$even-darker-blue: darken(#3498db, 20%);
$midnight-blue: #2c3e50;
$almost-white: #fafafa;


$font-family-text: (
    'HelveticaNeue-Light',
    'Helvetica Neue Light',
    'HelveticaNeue',
    'Helvetica Neue',
    'Helvetica',
    'Tahoma',
    'Geneva',
    'Arial',
    'Lucida Grande',
    sans-serif,
);

$font-family-display: ('Bebas Neue Regular', sans-serif);
