@keyframes spin {
    0% { transform: rotateZ(0deg); }
    100% { transform: rotateZ(360deg); }
}
@keyframes quarterspin {
    0% { transform: rotateZ(0deg); }
    100% { transform: rotateZ(90deg); }
}
@keyframes dash {
    0% { stroke-dashoffset: 1000; }
    100% { stroke-dashoffset: 0; }
}

.spinner {
    height: 75px;
    width: 75px;
    .checkmark {
        &.inactive {
            display: none;
        }
        &.active {
            animation: dash 2s ease-in-out;
        }
    }
    .cross {
        &.inactive {
            display: none;
        }
        &.active {
            animation: dash 2s ease-in-out;
        }
    }
    .circle {
        transform-origin: 50% 50%;
        &.inactive {
            animation: quarterspin 1.5s ease-out;
        }
        &.active {
            animation: spin 3s infinite linear;
        }
    }
    &.hidden {
        display: none;
    }
}
