@import "normalize";

// --- All ---

@font-face {
    font-family: 'Bebas Neue Regular';
    src: url('fonts/bebasneue_regular-webfont.woff2') format('woff2'),
         url('fonts/bebasneue_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue Regular';
    src: url('fonts/bebasneue_bold-webfont.woff2') format('woff2'),
         url('fonts/bebasneue_bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue Book';
    src: url('fonts/bebasneue_book-webfont.woff2') format('woff2'),
         url('fonts/bebasneue_book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


$dark-grey: #444;
$nice-grey: #3b3e43;
$grey: #666;
$light-grey: #999;
$blue: #3498db;
$orange: #e67e22;
$darker-blue: darken(#3498db, 7%);
$even-darker-blue: darken(#3498db, 20%);
$midnight-blue: #2c3e50;
$almost-white: #FAFAFA;

html {
    /* Fixes supporter images */
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    font-size: 20px;
    font-family: 'Bebas Neue Regular', sans-serif;
    color: $dark-grey;
    h1 {
        font-size: 50px;
        margin: 0;
    }
    h2 {
        font-size: 35px;
    }
    h3 {
        font-size: 30px;
    }
    h4 {
        font-size: 25px;
    }
    a, p {
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue",
          "Helvetica", "Tahoma", "Geneva", "Arial", "Lucida Grande", sans-serif;
        color: $grey;
    }
}

section {
    padding: 3rem 0;
    &#main {
        text-align: center;
        height: 100vh;
        position: relative;
        padding: 0;
    }
    &:before {
        position: absolute;
        content:'';
    }
}

.container {
    margin: 0 auto;
    display: block;
    max-width: 768px;
    width: 90%;
    padding-top: 10px;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

// --- Canvas ---

canvas {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
}

// --- Main ---

.content {
    background: url("img/bg.svg") center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 5rem auto;
    height: calc(100% - 46px);

    @media (max-width: 733px) {
        height: calc(100% - 2 * 46px);
    }

    #title {
        letter-spacing: 2px;
        color: $dark-grey;
        font-weight: bold;
        font-size: 2.4rem;
    }
    h3 {
        letter-spacing: 1px;

        @media (max-height: 400px) {
            display: none;
        }
    }

    .apply-button {
        background-color: $blue;
    }
}

// .apply {
//     margin: 2rem auto 0 auto;
//     max-width: 3rem;
//     padding: 1rem 2rem;
//     text-decoration: none;
//     display: block;
//
//     border-radius: 2rem;
//     background-color: #3498db;
//     color: white;
// }

.logo-container {
    width: 20rem;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;

    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.logo-container-small {
    max-width: 2rem;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
.logo {
    width: 90%;
    height: 90%;
    margin: 0; padding: 0;
}

/* Big half circle */
#bigHalfCircle path {
	fill: $darker-blue;
	stroke: $darker-blue;
    margin: 0;
    padding: 0;
}

// --- TLDR + FAQ ---

#tldr {
    background-color: #f2f2f2;

    .carousel {
        margin: 2.5rem auto;

        .img-container {
            max-width: 12rem;
            margin: 0.75rem 0.5rem 0.5rem 0;
            h3 {
                color: $grey;
                letter-spacing: 0.5px;
                margin: 0.2rem 0;
                font-size: 1rem;
                font-weight: normal;
            }
        }
    }


    .faq {
        flex-direction: row;
        justify-content: flex-start;

        display: block;
        max-width: 50%;
        word-wrap: break-word;
        padding: 0 1.2rem 0 0;

        .faq-question {
            // border-bottom: 2px $darker-blue solid;
            display: inline-block;
            margin: 0.8rem auto 0 auto;
            font-size: 1.3rem;
        }

        .faq-answer {
            font-size: 0.9rem;
            a {
                font-size: 0.8rem;
            }
        }
    }

    @media (max-width: 600px) {
        .faq {
            max-width: 100%;
            padding: 0;
        }
    }

}

.non-flex-faq {
    display: none;
}

// --- HEADER  ---

header {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #2c3e50;
        text-align: center;
        list-style: none;

        /* Fix spacing between li elements: http://stackoverflow.com/a/10655413 */
        font-size: 0;
    }

    li {
        font-size: 20px;
        display: inline-block;
        &.apply {
            background-color: $blue;
        }
        &.sponsor {
            background-color: $orange;
        }
    }

    li a {
        display: block;
        color: $almost-white;
        padding: 0.5rem 2rem;
        text-decoration: none;
        font-size: 1.2rem;
        margin: 0;
        text-align: center;
        letter-spacing: 1px;

        font-family: 'Bebas Neue Regular', sans-serif;
    }

    li i {
        color: $almost-white;
        margin: 0 0.5rem;
    }

    li.apply a:hover {
        background-color: #2980b9;
    }
    li.sponsor a:hover {
        background-color: #d35400;
    }

    @media (max-width: 733px) {
        .apply, .sponsor {
            display: block;
        }
        .scroll-anchor {
            display: none;
        }
    }
}

// --- Supporters ---

.flex-container-carousel {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

    flex-flow: row wrap;
    justify-content: center;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;
}

.flex-container-supporters {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

    flex-flow: row wrap;
    justify-content: space-between;

	align-items: center;

    margin-top: 1.5rem;

    @media(max-width: 808px) {
        justify-content: space-around;
    }
}

.flex-container-faq {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.flex-container-students {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
	margin-top: 2rem;

    @media(max-width: 814px) {
        align-items: center;
        justify-content: space-around;
    }
}

#supporters {

    width: 100%;
    margin: 0 auto;
    display: block;
    padding-bottom: 4rem;

    h1 {
        margin-bottom: 10px;
    }

    h2 {
        margin-bottom: 5px;
    }

    .supporter-image {
        &.sponsor, &.partner {
            max-width: 220px;
            max-height: 170px;
        }
        &.donor {
            max-width: 170px;
            max-height: 80px;
        }
        margin: 1.5rem 0.8rem;

    }

    #supporters-shoutout {
        p {
            margin-top: 30px;
            margin-bottom: 0px;
        }
        a {
            color: $blue;

            &:hover {
                color: $even-darker-blue;
            }
        }
    }
}

.shoutout {
    p {
        margin-top: 30px;
        margin-bottom: 0px;
    }
    a {
        i {
            color: white;
        }
        margin: 0.6rem 0.3rem 1rem 0;
        padding: 0.6rem 0.8rem;
        // border-radius: 5px;
        display: inline-block;
        text-decoration: none;
        font-size: 0.8rem;
        background-color: $blue;
        color: white;

        &:hover {
            background-color: #2980b9;
        }
        &:active {
            box-shadow                : inset 0px 0px 8px $dark-grey;
            -ms-box-shadow            : inset 0px 0px 8px $dark-grey;
            -moz-box-shadow            : inset 0px 0px 8px $dark-grey;
            -webkit-box-shadow        : inset 0px 0px 8px $dark-grey;
        }

        transition: box-shadow 0.2s;

        @media (max-width: 434px) {
            // font-size: 0.6rem;
            // padding: 0.6rem 0.8rem;
            display: block;
            margin: 0.4rem auto;
        }
    }

    &.sponsor {
        a { background-color: $orange; }
        a:hover { background-color: #d35400; }
    }
}

#schools {
    background-color: $nice-grey;
    h1, p, a {
        color: $almost-white;
    }

    h1 {
        margin-bottom: 2rem;
    }

    .student {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        font-size: 18px;

        text-align: center;
        .student-img-container {

            margin: 0 auto;
            display: block;
            max-width: 120px;
            max-height: 120px;
            .student-img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }

        h2, h4 {
            color: $almost-white;
        }

        h2 {
            font-size: 1.4rem;
            margin: 1rem auto 0 auto;
        }
        h4 {
            font-family: 'Helvetica Neue';
            font-weight: normal;
            font-size: 0.7rem;
            margin: 0;
        }

        width: 190px;
        height: 240px;
        margin: 0.3rem 0.5rem;
        display: inline-block;
    }
}

// --- Footer ---

footer {
    i { color: $almost-white; }
    background-color: $nice-grey;
    padding: 2rem 4rem 3.5rem 4rem;

    a {
        color: $almost-white;
        text-decoration: none;
        font-family: 'Bebas Neue Regular', sans-serif;
    }
    .left {
        float: left;
        border: 1px solid $almost-white;
        padding: 0.5rem 1rem;
    }
    .right {
        float: right;
        a {
            margin-left: 2rem;
        }
        padding: 0.5rem 1rem;

    }

    .social-media {
        font-family: 'Bebas Neue Book';
        font-weight: lighter;
    }

    @media (max-width: 651px) {
        .right {
            display: block;
            float: none;
            margin: 0 auto;
            text-align: center;
            a {
                margin-left: 0;
                margin-bottom: 0.4rem;
            }

            i {
                margin: 0.5rem;
            }
        }
        .left {
            display: block;
            float: none;
            margin: 1rem auto;

            text-align: center;
        }
        .social-media {
            display: block;
            margin-bottom: 0.8rem;
        }
        // .right a {
        //     margin-left: 0;
        //     margin-right: 2rem;
        // }
        padding: 2rem 4rem 2rem 4rem;

    }
}

// --- About ---

.about-splash {
    display: block;
    margin: 0 auto;
}
