@import "normalize";

// --- All ---

@font-face {
    font-family: 'Bebas Neue Regular';
    src: url('fonts/bebasneue_regular-webfont.woff2') format('woff2'),
         url('fonts/bebasneue_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue Regular';
    src: url('fonts/bebasneue_bold-webfont.woff2') format('woff2'),
         url('fonts/bebasneue_bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue Book';
    src: url('fonts/bebasneue_book-webfont.woff2') format('woff2'),
         url('fonts/bebasneue_book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


$dark-grey: #444;
$grey: #666;
$light-grey: #999;
$blue: #3498db;
$darker-blue: darken(#3498db, 7%);
$midnight-blue: #2c3e50;

* {
    font-size: 20px;
    font-family: 'Bebas Neue Regular', sans-serif;
    color: $dark-grey;
    h1 {
        font-size: 50px;
        margin: 0;
    }
    h2 {
        font-size: 35px;
    }
    h3 {
        font-size: 30px;
    }
    h4 {
        font-size: 25px;
    }
    p {
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue",
          "Helvetica", "Tahoma", "Geneva", "Arial", "Lucida Grande", sans-serif;
        color: $grey;
    }
}

section {
    z-index: 0;
    padding: 2rem 0 0 0;
    &#main {
        text-align: center;
        height: 100vh;
        position: relative;
        padding: 0;
    }
    &:before {
        position: absolute;
        content:'';
    }
}

.container {
    margin: 0 auto;
    display: block;
    max-width: 768px;
    width: 90%;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}


// --- Main ---

.content {
    background: url("img/bg.svg") center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 5rem auto;
    height: calc(100% - 42px);

    @media (max-width: 558px) {
        height: calc(100% - 2 * 42px);
    }

    #title {
        letter-spacing: 2px;
        color: $dark-grey;
        font-weight: bold;
        font-size: 2.4rem;
    }
    h3 {
        letter-spacing: 1px;

        @media (max-height: 400px) {
            display: none;
        }
    }
}

// .apply {
//     margin: 2rem auto 0 auto;
//     max-width: 3rem;
//     padding: 1rem 2rem;
//     text-decoration: none;
//     display: block;
//
//     border-radius: 2rem;
//     background-color: #3498db;
//     color: white;
// }

.logo-container {
    width: 20rem;
    margin: 0 auto;
    text-align: center;

    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.logo-container-small {
    max-width: 2rem;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
.logo {
    width: 90%;
    height: 90%;
    margin: 0; padding: 0;
}

/* Big half circle */
#bigHalfCircle path {
	fill: $darker-blue;
	stroke: $darker-blue;
    margin: 0;
    padding: 0;
}

// --- TLDR ---

#tldr {
    margin: 3rem auto;
    h1 {
        text-align: center;
        font-style: italic;

        margin: 0 auto;
        display: inline-block;
        border-bottom: 2px $darker-blue solid;
    }
    p {
    }

    .carousel {
        margin: 2.5rem auto;

        .img-container {
            max-width: 12rem;
            margin: 0.75rem 0.5rem 0.5rem 0;

            h3 {
                color: $light-grey;
                margin: 0.2rem;
                font-size: 1rem;
                font-weight: normal;
            }
        }
    }


    .faq-question {
        // color: white;
        font-style: italic;
        border-bottom: 2px $darker-blue solid;
        display: inline-block;
        margin: 0.5rem auto 0 auto;
    }

    .faq-answer {
        // color: white;
    }
}

// ---  ---

header {
    z-index: 999;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #2c3e50;
        text-align: center;
        list-style: none;
    }

    li {
        display: inline-block;
        &.apply {
            // float: right;
            background-color: #3498db;
        }
        &.sponsor {
            // float: left;
            background-color: #e67e22;
        }
    }

    li a {
        display: block;
        color: white;
        padding: 0.5rem 2rem;
        text-decoration: none;
        font-size: 20px;
        margin: 0;
        text-align: center;
        letter-spacing: 1px;
    }

    li.apply a:hover {
        background-color: #2980b9;
    }
    li.sponsor a:hover {
        background-color: #d35400;
    }

    @media (max-width: 558px) {
        .apply, .sponsor {
            display: block;
        }
        .scroll-anchor {
            display: none;
        }
    }
}

// --- Supporters ---

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#supporters {
    width: 100%;
    margin: 0 auto;
    display: block;
    text-align: center;
    padding-bottom: 4rem;

    h1 {
        margin-bottom: 10px;
    }

    h2 {
        margin-bottom: 5px;
    }

    .supporter-image {
        padding: 12px;
        margin: 5px;
        max-height: 70px;
    }

    #supporters-shoutout {
        p {
            margin-top: 30px;
            margin-bottom: 0px;
        }
    }
}

// --- Footer ---

footer {
    background-color: $midnight-blue;
    padding: 2rem 4rem 3rem 4rem;

    a {
        color: white;
        text-decoration: none;
    }
    .left {
        float: left;
    }
    .right {
        float: right;
        a {
            margin-left: 2rem;
        }
    }

    .social-media {
        font-family: 'Bebas Neue Book';
        font-weight: lighter;
    }

    @media (max-width: 651px) {
        .right {
            display: block;
            float: none;
            margin: 0 auto;
            text-align: center;
            a {
                margin-left: 0;
                margin-right: 1rem;
                margin-bottom: 0.4rem;
            }
        }
        .left {
            display: none;
        }
        .social-media {
            display: block;
            margin-bottom: 0.8rem;
        }
        // .right a {
        //     margin-left: 0;
        //     margin-right: 2rem;
        // }
        padding: 2rem 4rem 2rem 4rem;

    }
}
