<template name="afterparty">
    <div class="afterparty_wrapper">
        <div class="hero">
            <div class="overlay">
                <!-- <div class="side-triangle-left"></div> -->
                <h1 class="desktop-banner">LOS ALTOS HACKS</h1>
                <h1 class="mobile-banner">LOS ALTOS<br>HACKS</h1>
                <!-- <div class="side-triangle-right"></div> -->

                <a href="#" id="show-arrow" class="arrow"></a>
            </div>
        </div>

        <div id="ap-stats">
            <h1 class="stats-title">LAH 2016</h1>
            <h3 class="stats-subtitle">JAN. 30-31</h3>
            <div class="participants">
                <h1 class="hacker-count">176 HACKERS</h1>
                <h1 class="mentor-count">50 MENTORS</h1>
            </div>

            <div class="prizes">
                <h1>$2540 IN PRIZES</h1>
            </div>

            <div class="projects">
                <a href="http://losaltoshacks.devpost.com/submissions">35 HACKS</a>
            </div>

        </div>

        <div class="soon">
            <h4 class="soon-tm-desktop">- LAH 2017 COMING SOON -</h4>
            <h4 class="soon-tm-mobile">LAH 2017<br>- COMING SOON -</h4>
        </div>
    </div>
</template>
