header {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #2c3e50;
        text-align: center;
        list-style: none;

        // Fix spacing between li elements: http://stackoverflow.com/a/10655413
        font-size: 0;
    }

    li {
        font-size: 20px;
        display: inline-block;
        &.apply {
            background-color: $blue;
        }
        &.sponsor {
            background-color: $orange;
        }
    }

    li a {
        display: block;
        color: $almost-white;
        padding: 0.5rem 2rem;
        text-decoration: none;
        font-size: 1.2rem;
        margin: 0;
        text-align: center;
        letter-spacing: 1px;

        font-family: $font-family-display;
    }

    li i {
        color: $almost-white;
        margin: 0 0.5rem;
    }

    li.apply a:hover {
        background-color: #2980b9;
    }
    li.sponsor a:hover {
        background-color: #d35400;
    }

    #mlh-trust-badge {
        display: block;
        max-width: 100px;
        min-width: 60px;
        position: fixed;
        top: 0;
        right: 50px;
        width: 10%;

        img {
            width: 100%;
        }
    }

    .live-btn-header {
        display: none;
        a {
            background-color: $blue;
        }
    }

    @media (max-width: 917px) {
        .live-btn-header {
            display: block;
        }
        .apply, .sponsor {
            display: none;
        }
        .scroll-anchor {
            display: none;
        }
        #mlh-trust-badge {
            display: none;
        }
    }
}
