<template name="sponsors">

<section id="sponsors" class="text-center">
    <div class="container">
        <div class="row">
           	<h2 id="sponsor-header" style="margin: 0 auto;">Sponsors</h2>

            <h4 class="uppercase">Partnered With:</h4>

            <ul id="partner-logos" class="flex-container">
              <li class="list-item partner">
                  <a href = "http://microsoft.com/">
                      <img src="img/microsoft_logo.svg.png" class="sponsor-item">
                  </a>
              </li>
            </ul>

            <h4 class="sponsor-title uppercase">Sponsored By:</h4>

            <ul id="sponsor-logos" class="flex-container">
                <li class="list-item">
                    <a href = "http://adatao.com/">
                        <img src="img/adatao.png" class="sponsor-item img-responsive">
                    </a>
                </li>

                <li class="list-item">
                    <a href = "http://brandmakers.com/">
                        <img src="img/brandmakers.jpg" class="sponsor-item img-responsive">
                    </a>
                </li>

                <!-- Sponsors but not totally confirmed yet
                <a href = "http://hacker.fund/">
               		<img src="img/hackerfund.png" class="img-responsive sponsor-img">
               	</a>
               	<a href = "https://www.makeschool.com/">
                	<img src="img/makeschool.svg" class="img-responsive sponsor-img">
                </a>
                -->
            </ul>

            <button class="button-inv"><a href="#intro">Become a sponsor!</a></button>
        </div>
    </div>
</section>


</template>
