
#sponsors {

	color: #7e7e7e;

	.flex-container {
		margin-left: 0;
		margin-bottom: 10px;
		padding-left: 0;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: row;
		flex-direction: row;
		-webkit-align-items: center;
		align-items: center;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;
		list-style: none;
  }

  .flex-item {
		padding: 5px;
		height: 70px;
		margin-top: 0px;
		margin-bottom: 0px;
		margin-left: 10px;
		margin-right: 10px;
		text-align: center;

		&.partner {
			height: 200px;
		}
	}

	.list-item {
		margin: 5px;
		img {
			padding: 10px;
			max-height: 55px;
		}
		&.partner {
			img {

				max-height: 80px;
			}
		}
	}

	// img {
	// 	margin: 30px;
	// 	max-width: 200px;
	// }

	#sponsor-logos {
		margin: 20px;
		margin-bottom: 40px;
	}

	#partner-logos {
		margin: 20px;
	}

	.sponsor-title {
		margin-top: 20px;
	}

	#sponsor-header {
		padding-bottom: 40px;
	}
}
