<template name="sponsors">

<section id="sponsors" class="text-center">
    <div class="container">
        <div class="row">
           	<h2 class="uppercase" style="margin: 0 auto;">Sponsors</h2>
            <div class="col-md-12">
            	<a href = "http://adatao.com/">
                	<img src="img/adatao.svg" class="img-responsive sponsor-img">
                </a>
                <a href = "http://brandmakers.com/">
                	<img src="img/brandmakers.jpg" class="img-responsive sponsor-img">
                </a>
                <!-- Sponsors but not totally confirmed yet
                <a href = "http://hacker.fund/">
               		<img src="img/hackerfund.png" class="img-responsive sponsor-img">
               	</a>
               	<a href = "https://www.makeschool.com/"> 
                	<img src="img/makeschool.svg" class="img-responsive sponsor-img">
                </a>
                -->
            </div>
        </div>
    </div>
</section>


</template>