<template name="sponsors">

<section id="sponsors" class="text-center">
    <div class="container">
        <div class="row">
           	<h2 class="uppercase" style="margin: 0 auto;">Sponsors</h2>
            <div class="col-md-12">
                <img href = "http://adatao.com/" src="img/adatao.svg" class="img-responsive sponsor-img">
                <img href = "http://brandmakers.com/" src="img/brandmakers.jpg" class="img-responsive sponsor-img">
                <!-- Sponsors but not totally confirmed yet
                <img href = "http://hacker.fund/" src="img/hackerfund.png" class="img-responsive sponsor-img">
                <img href = "https://www.makeschool.com/" src="img/makeschool.svg" class="img-responsive sponsor-img">
                -->
            </div>
        </div>
    </div>
</section>


</template>