
#sponsors {
	
	.sponsor-img {
		max-width: 20px;
		margin: 0 auto;
	 	padding-top: 50px;
		width: 100%;
	}

	.flex-container {
		margin-left: 0;
		margin-bottom: 20px;
		padding-left: 0;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: row;
		flex-direction: row;
		-webkit-align-items: center;
		align-items: center;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;
		list-style: none;
  }

  .flex-item {
		padding: 5px;
		width: 150px;
		height: 130px;
		margin-top: 80px;
		margin-bottom: 80px;
		margin-left: 10px;
		margin-right: 10px;
		text-align: center;
	}

	img {
		margin: 30px;
		max-width: 200px;
	}
}

