
* {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    h1 {
        font-size: 40px;
        margin: 0;
    }
    h2 {
        font-size: 35px;
    }
    h3 {
        font-size: 30px;
    }
    h4 {
        font-size: 25px;
    }
}

section {
    padding: 2rem 0;
    position: relative;
    &#main {
        text-align: center;
        height: 100vh;
        position: relative;
        padding: 0;
    }
    &#tldr {
        height: 800px;
    }
    &:before {
        position: absolute;
        content:'';
    }
}

.content {
    padding: 5rem auto;
    height: calc(100% - 54px);
}

.apply {
    margin: 2rem auto 0 auto;
    max-width: 3rem;
    padding: 1rem 2rem;
    text-decoration: none;
    display: block;

    border-radius: 2rem;
    background-color: #3498db;
    color: white;
}

.logo-container {
    width: 25rem;
    margin: 0 auto;
    text-align: center;

    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.logo-container-small {
    max-width: 2rem;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
.logo {
    width: 90%;
    height: 90%;
    margin: 0; padding: 0;
}

.diagonal {
    z-index: 1;
    padding: 3em;
}
.diagonal:before {
    overflow-x: hidden;
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg);
    -webkit-transform-origin: 3% 0;
    transform-origin: 3% 0;
    top: 0;
    left: -25%;
    z-index: -1;
    width: 100%;
    height: 75%;
    background: inherit;
}

header {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #2c3e50;
        text-align: center;
        max-height: 90px;
    }

    li {
        display: inline-block;
        &.right {
            // float: right;
        }
        &.left {
            // float: left;
            background-color: #3498db;
        }
    }

    li a {
        display: block;
        color: white;
        padding: 0.8rem 2rem;
        text-decoration: none;
        font-size: 18px;
    }

    li a:hover {
        background-color: #2980b9;
    }
}

footer {

}
