
// --- All ---

@font-face {
    font-family: "Bebas Neue";
    src: url("../fonts/BebasNeue.otf");
}

$dark-grey: #444;
$grey: #666;
$blue: #3498db;
$darker-blue: darken(#3498db, 7%);

* {
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;
    color: $dark-grey;
    h1 {
        font-size: 50px;
        margin: 0;
    }
    h2 {
        font-size: 35px;
    }
    h3 {
        font-size: 30px;
    }
    h4 {
        font-size: 25px;
    }
    p {
        font-family: "Helvetica Neue", sans-serif;
        color: $grey;

    }
}

section {
    z-index: 0;
    padding: 2rem 0;
    position: relative;
    &#main {
        text-align: center;
        height: 100vh;
        position: relative;
        padding: 0;
    }
    &:before {
        position: absolute;
        content:'';
    }
}

.container {
    margin: 0 auto;
    display: block;
    max-width: 768px;
    width: 50%;
}

// --- Main ---

.content {
    padding: 5rem auto;
    height: calc(100% - 44px);

    #title {
        letter-spacing: 2px;
        color: #333;
    }
}

// .apply {
//     margin: 2rem auto 0 auto;
//     max-width: 3rem;
//     padding: 1rem 2rem;
//     text-decoration: none;
//     display: block;
//
//     border-radius: 2rem;
//     background-color: #3498db;
//     color: white;
// }

.logo-container {
    width: 20rem;
    margin: 0 auto;
    text-align: center;

    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.logo-container-small {
    max-width: 2rem;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
.logo {
    width: 90%;
    height: 90%;
    margin: 0; padding: 0;
}

/* Big half circle */
#bigHalfCircle path {
	fill: $darker-blue;
	stroke: $darker-blue;
    margin: 0;
    padding: 0;
}

/* Common style for pseudo-elements */
*, *:after, *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

// --- TLDR ---

#tldr {
    margin: 3rem auto;
    h1 {
        text-align: center;
        margin: 0 auto;
    }
    p {
    }
}

// --- FAQ ---

#faq {
    display: inline-block;
	vertical-align: top;
    background-color: $darker_blue;
    margin: 0;
}

// --- Navbar ---

header {
    z-index: 999;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #2c3e50;
        text-align: center;
        list-style: none;
    }

    li {
        display: inline-block;
        &.apply {
            // float: right;
            margin-left: 1rem;
            background-color: #3498db;
        }
        &.sponsor {
            // float: left;
            background-color: #e67e22;
        }
    }

    li a {
        display: block;
        color: white;
        padding: 0.5rem 2rem;
        text-decoration: none;
        font-size: 20px;
        margin: 0;
        text-align: center;
        letter-spacing: 1px;
    }

    li.apply a:hover {
        background-color: #2980b9;
    }
    li.sponsor a:hover {
        background-color: #d35400;
    }
}

// --- Footer ---

footer {

}
