<template name="faq">

<section id="faq" class="colored text-center">
    <div class="container">
        <h2 class="uppercase" style="margin: 0 auto;">FAQ</h2>
        <div class="row">

            {{#each faqs}}

                {{> faqPanel}}

            {{/each}}
        </div>
    </div>
</section>

</template>

<template name="faqPanel">
    <div class="flex-item-faq">


        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">{{question}}</h4>
            </div>
            <div id="faq-1" class="panel-collapse">
                <div class="panel-body text-left">
                    <p>{{{answer}}}</p>
                 </div>
            </div>
        </div>

    </div>
</template>
