<template name="faq">

<section id="faq" class="colored text-center">
    <div class="container section-body">
        <h2 class="uppercase" style="margin: 0 auto;">FAQ</h2>
        <div class="row">

            <div class="col-md-12 col-sm-12">
                {{#each faqs}}

                    {{> faqPanel}}

                {{/each}}
            </div>
        </div>
    </div>
</section>

</template>

<template name="faqPanel">
    <!-- <div class="faq-card">
        <div class="card-title">{{question}}</div>
        <hr/>
        <div class="card-body">{{answer}}</div>
    </div> -->

    <div class="faq-block">
        <div class="question">
            <p>{{{question}}}</p>
        </div>
        <div class="answer">
            <p>{{{answer}}}</p>
        </div>
    </div>
</template>
