#faq
{
  overflow-x: hidden;
  width: 100%;
  h2 {
    padding-bottom: 50px;
  }
  p {
    color: #444444;
    font-size: 1em;
  }

  .faq-block {

      a {
          color: hsl(51, 100%, 50%);
      }

      .answer {
          font-size: 16px;

          p {
              color: white;
          }
      }

      .question {
          font-size: 24px;

          p {
              color: white;
              margin-bottom: 16px;
              font-weight: 700;
          }
      }
      text-align: left;
      margin-bottom: 40px;
  }
}
