#faq
{
  overflow-x: hidden;
  width: 100%;
  h2 {
    padding-bottom: 50px;
  }
  p {
    color: #444444;
    font-size: 1em;
  }

  .faq-block {

      a {
          color: hsl(51, 100%, 50%);
      }

      .answer {
          font-size: 16px;

          p {
              color: white;
          }
      }

      .question {
          font-size: 24px;

          p {
              color: white;
              margin-bottom: 16px;
              font-weight: 700;
          }
      }
      text-align: left;
      margin-bottom: 40px;
  }

  /*.row {

    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-content: flex-start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;

  	.flex-item-faq {
      -webkit-flex-grow: 0;
      flex-grow: 0;
      -webkit-flex-shrink: 0;
      flex-shrink: 0;

      max-width: 300px;

      margin: 15px;
      .panel {
      	height: 255px;
      }

      .panel-body {
        font-size: @font-size-base;
      }
  	}

  }*/
}
