<template name="faq">

<section id="faq" class="colored text-center">
    <div class="container">
        <div class="row">
            <h2 class="" style="margin: 0 auto;">FAQ</h2>

            {{#each faqs}}

                {{> faqPanel}}

            {{/each}}
        </div>
    </div>
</section>

</template>

<template name="faqPanel">
    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading uppercase">
            <h4 class="panel-title">{{question}}</h4>
        </div>
        <div id="faq-1" class="panel-collapse">
            <div class="panel-body uppercase">
                <p>{{answer}}</p>
            </div>
        </div>
    </div>
    </div>
</template>