<template name="home">

<!-- ============== INTRO ============== -->

    {{> intro }}

<!-- ============== SCHEDULE ============== -->

    {{> schedule }}

<!-- ============== FAQ ============== -->

    {{> faq }}

<!-- ============== SPONSORS ============== -->

    {{> sponsors }}

<!-- ============== TEAM ============== -->
    
    {{> team}}

<!-- ============== FOOTER ============== -->

    {{> footerHome}}

</template>


<template name="footerHome">
    <footer id="footer-home">
        <div class="container">
            <!-- <div class="row text-center">
                <div class="col-md-offset-2 col-md-8">
                    <ul class="social-networks">
                    </ul>
                </div>
            </div> -->
            
            <div class="row">
                
                <div class="col-md-12 text-center" style="margin-bottom: 25px;">
                    <ul class="social-media-buttons">
                        <li>
                            <a href="https://www.facebook.com/losaltoshacks">
                                <i class="fa fa-3x fa-facebook-square"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/losaltoshacks">
                                <i class="fa fa-3x fa-twitter-square"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://instagram.com/losaltoshacks/">
                                <i class="fa fa-3x fa-instagram"></i>
                            </a>
                        </li>

                        <!-- Maybe?? <li>
                            <a href="#">
                                <i class="fa fa-3x fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-3x fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-3x fa-instagram"></i>
                            </a>
                        </li> -->
                    </ul>
                    <p>Made with ♥ by the 2015 Los Altos Hacks Team</p>
                </div>
            </div>
        </div>
    </footer>
</template>
