#live-content {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;

    @media (max-width: 892px) {
        max-width: 800px;
    }
}

#live-header {
    text-align: center;
    margin: 2rem;
    span {
        color: $blue;
        font-size: 40px;
    }
}

.column {
    display: inline-block;

    .column-title {
        color: $grey;
        margin: 1rem;
        position: relative;
        display: inline-block;
    }

    #updates-container, #schedule-container {
        display: inline-block;
        text-align: left;
        vertical-align: top;
    }
}

.schedule-view, .update-view {
    width: 300px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    margin: 1rem 0.5rem;

    h2, p {
        font-family: $font-family-text;
    }

    transition: 0.2s;
    &:hover {
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    }
}

.update-view {
    padding: 0.5rem 1.5rem;
    h2 {
        font-size: 20px;
    }
}

.schedule-view {
    padding: 0.4rem 1.3rem;

    h2 {
        font-size: 16px;
    }
    p {
        font-size: 14px;
    }
}
