.container {
    margin: 0 auto;
    display: block;
    max-width: 768px;
    width: 90%;
    padding-top: 10px;
}

.flex-container {
    display: flex;

    flex-flow: row wrap;

    align-items: center;

    margin-top: 1.5rem;

    @media(max-width: 808px) {
        justify-content: space-around;
    }
}
