<head>
    <meta charset="utf-8">
    <title>Los Altos Hacks</title>
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
    <link rel="icon" size="57x57" href="/favicon.jpg">
    <link rel="apple-touch-icon" size="57x57" href="/favicon.jpg">

    <link rel="stylesheet" href="style.css">

    <script src="//code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.0/jquery.scrollTo.min.js" integrity="sha384-qcW5WaJ2LxU+EnijI93Po9K/D4whC1d/ZzKEXY8KJXRhT5qHdOQR/2AffpOrxFT3" crossorigin="anonymous"></script>
    <script src="script.js" defer></script>

    <meta property="og:title" content="Los Altos Hacks">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.losaltoshacks.com/">
    <meta property="og:image" content="img/losaltoshacks.png">
    <meta property="og:description" content="A 24-hour high school hackathon held in Mountain View, CA.">
</head>
