<template name="intro">


<section id="intro" class="colored text-center">
    <header>
        <nav id="nav" class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container bcg-container">
                <div class="row">
                  <div id="main-nav" class="navbar-collapse collapse">

                        <ul class="nav navbar-nav links">
                            <a id="intro-btn" href="#intro"><li>Home</li></a>
                            <a id="faq-btn" href="#faq"><li>FAQ</li></a>
                            <a id="sponsors-btn" href="#sponsors"><li>Sponsors</li></a>
                            <a id="team-btn" href="#team"><li>Team</li></a>
                            <a href="https://losaltoshacks.typeform.com/to/ixL15U" id="apply-btn-header" class="button">Applications Closed</a>

                        </ul>

                    </div>
                </div>
            </div>
        </nav>

    </header>

    <div class="container">
        <div class="intro-well">

            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div class="col-lg-12 col-sm-12">
                        <img src="img/losaltoshacks.png" id="logo" class="img-responsive">
                    </div>
                    <div class="col-lg-12">
                        <h3 id="about" style="color:white;" class="">{{location}}</h3>
                        <h3>{{date}}</h3>
                    </div>
                    <div class="col-sm-12 col-xs-12">
                        <a href="https://losaltoshacks.typeform.com/to/ixL15U" id="apply-btn" class="button">Applications Closed</a>
                        <p id="mentor-paragraph">Mentors, apply <a id="mentor-link" href="https://losaltoshacks.typeform.com/to/g6YdIl">here</a>.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

</template>
