#intro {

    padding-top: 0;
    background-color: black;
    max-height: 100%;

    background: @home-intro-bg no-repeat center;
    background-size: cover;

    #nav {
        background-color: transparent;
        transition: background-color 0.5s ease;
        -webkit-transition: background-color 0.5s ease;
        -moz-transition: background-color 0.5s ease;
    }

    .links {
        font-size: 18px;
        font-weight: 300;
    }

    a {
        color: #F8F8F8;
        text-decoration: none;
        -webkit-transition: color 0.2s;
        -moz-transition: color 0.2s;
        transition: color 0.2s;
        &:hover {
            color: #5bc0de;
        }
    }

    .btn {
        color: #F8F8F8;
    }

    h1, h2, h3{
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 5px;
        padding-bottom: 10px;
    }

    #title {
        color: #5bc0de;
    }

    .bcg {
        background: @home-intro-bg no-repeat center;
    }
    &.mobile
    {
        background: @home-intro-bg no-repeat center;
        background-size: cover;
    }


    #apply-btn-header {
        height: 30px;
        padding: 0;
        margin-top: 3px;
        padding-left: 15px;
        padding-right: 15px;
        max-width: 100px;

        transition: background-color 0.25s;
        -moz-transition: background-color 0.25s;
        -webkit-transition: background-color 0.25s;

        &:hover {
            // cursor: not-allowed;
            color: #333;
        }
    }

    #apply-btn {
        font-size: 18px;
        margin-bottom: 20px;
        transition: background-color 0.25s;
        -moz-transition: background-color 0.25s;
        -webkit-transition: background-color 0.25s;
        &:hover {
            // cursor: not-allowed;
            color: #333;
        }
    }

}

.links {
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  transition: color 0.2s;
  color: #F8F8F8;
}

/*
.active {
  border-width: 2px;
  border-color: #f1c40f;
  border-radius: 5px;
}
*/

/* Nav Styles */


#header.active {
    color: #fff !important;
    font-weight: 700 !important;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.navbar {
  //background-color: transparent;
  background-color: #222222;
  opacity: 0.95;
  border: 0;
  font-size: 18px;

  li {
    display: inline-block;
    float: none;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
  }

  #apply {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    background-color: #5bc0de;
    border-radius: 3px;

    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;

    &:hover {
      color: white;
      background-color: #40869B;
    }
  }

}

#nav.active {
  background-color: white;
  padding-top: 20px
}

#nav.active .nav-section {
  color: #F5A623;
  padding-bottom: 15px;
  opacity: 0.72
}

#nav.active .nav-section.active {
  border-bottom: 3px solid #F5A623;
  opacity: 1
}

#nav.active .nav-section:hover {
  opacity: 1
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar {
  text-align: center;
}

.nav-shadow {
  -webkit-box-shadow: 0 4px 3px -3px #999;
  -moz-box-shadow: 0 4px 3px -3px #999;
  box-shadow: 0 4px 3px -3px #999;
}

/* Misc. */
#main-nav
{
  border: none;
  box-shadow: none;
}

#logo {
  max-height: 280px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 20px;
}


#sponsorship-links {
  margin-top: 0px;
  padding-top: 0px;
  a {
    color: #5bc0de;
  }
}

/* Video

video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
  background: @home-intro-bg no-repeat;
  background-size: cover;
  transition: 1s opacity;
}

*/
