<template name="intro">

<section id="intro" class="colored text-center">
    <header>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container wow animated fadeIn">
                <div class="row">
<!--                         <a class="navbar-brand" href="{{pathFor 'home'}}">{{Config.name}}</a>
-->                        <div id="main-nav" class="navbar-collapse collapse">

                        <ul class="nav navbar-nav navbar-right links">

                            <a id="apply-btn" href="#"><li>APPLY</li></a>
                            <a id="intro-btn" href="#intro"><li>HOME</li></a>
                            <a id="schedule-btn" href="#schedule"><li>SCHEDULE</li></a>
                            <a id="faq-btn" href="#faq"><li>FAQ</li></a>
                            <a id="sponsors-btn" href="#sponsors"><li>SPONSORS</li></a>
                            <a id="team-btn" href="#team"><li>TEAM</li></a>
                        </ul>

                    </div>
                </div>
            </div>
        </nav>

    </header>

    <div class="container">     
        <div class="intro-well wow animated fadeIn" data-wow-delay="0.4s">
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div class="col-lg-12 col-sm-12">
                        <img src="img/losaltoshacks.png" id="logo" class="img-responsive">
                    </div>

                    <h2 style="color:white;" class="uppercase">A 24-hour hackathon held in Los Altos, California</h2>
                    <h3 style="color:white;" class="uppercase">Hillview Community Center, January 30 - 31, 2016</h3>

                    <button id="apply-btn" type="button" class="uppercase btn btn-info btn-outline btn-lg">Apply Now</button>

                    <h5 class="uppercase" id="sponsor-label">Interested in becoming a sponsor?</h5>
                    <div id="sponsorship-links">
                            <a href="mailto:sponsor@losaltoshacks.com" style = "color:cyan;" class="uppercase" id="sponsor-btn">Email</a> | 
                            <a href = "docs/sponsorship.pdf" style = "color:cyan;" class="uppercase">Docs</a>
                    </div>
                     
                </div>
            </div>
        </div>

    </div>

</section>

</template>