#intro {

  padding-top: 0;
  padding-bottom: 150px;
  background-color: black;
  max-height: 100%;

  background: @home-intro-bg no-repeat center;
  background-size: cover;

  a {
    color: #F8F8F8;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    transition: color 0.2s;
    &:hover {
      color: #5bc0de;
    }
  }

  .btn {
    color: #F8F8F8;
  }

  h1, h2, h3{
    color: #F8F8F8;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 10px;
  }

  #title {
    color: #5bc0de;
  }

  .bcg {
    background: @home-intro-bg no-repeat center;
  }
  &.mobile
  {
    background: @home-intro-bg no-repeat center;
    background-size: cover;
  }
  

  #apply-btn {
    
    margin-top: 20px;
    margin-bottom: 20px;

  }
}

.links {
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  transition: color 0.2s;
  color: #F8F8F8;
}

/*
.active {
  border-width: 2px;
  border-color: #f1c40f;
  border-radius: 5px;
}
*/

/* Nav Styles */

.navbar {
  //background-color: transparent;
  background-color: #222;
  opacity: 0.85;
  border: 0;

  font-size: 18px;

  li {
    display: inline-block;
    float: none;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
  }

  #apply {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    background-color: #5bc0de;
    border-radius: 3px;

    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;

    &:hover {
      color: white;
      background-color: #40869B;
    }
  }

}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar {
  text-align: center;
}

.nav-shadow {
  -webkit-box-shadow: 0 4px 3px -3px #999;
  -moz-box-shadow: 0 4px 3px -3px #999;
  box-shadow: 0 4px 3px -3px #999;
}

/* Misc. */
#main-nav
{
  border: none;
  box-shadow: none;
}

#logo {
  max-height: 320px; margin: 0 auto; margin-top: 10px; padding-top: 30px; padding-bottom: 20px;
}

#sponsor-label {
  padding: 0;
  margin: 0;
  margin-top: 11px;
}

#sponsorship-links {
  margin-top: 0px;
  padding-top: 0px;
  a {
    color: #5bc0de;
  }
}

/* Video 

video { 
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
  background: @home-intro-bg no-repeat;
  background-size: cover;
  transition: 1s opacity;
}

*/