<template name="team">

<section id="team" class="colored text-center">

  <div class="container">

  	<div class="row">

  		<h2 class="uppercase" style="margin: 0 auto;">Team</h2>
  			<ul class="flex-container">
	  			<li class="flex-item">
	  				{{> teamBoxSely}}
	  			</li>
	  			
	  			<li class="flex-item">
	  			{{> teamBoxAlicia}}
	  			</li>  		
  			<li class="flex-item">
	  			{{> teamBoxJustin}}
  			</li>
  			<li class="flex-item">
  				{{> teamBoxDan}}
  			</li>
  			<li class="flex-item">
  				{{> teamBoxJavin}}
  			</li>

  			<li class="flex-item">
	  			{{> teamBoxZooey}}
	  			</li>
	  			<li class="flex-item">
	  			{{> teamBoxAn}}
	  			</li>
	  			<li class="flex-item">
	  			{{> teamBoxAashia}}
	  			</li>
	  			<li class="flex-item">
	  			{{> teamBoxAllison}}
	  			</li>
	  			
  		</ul>


<!--   		<div class="col-sm-12">

  			 <div class="row">
  			 		<div class="col-xs-6 col-sm-3 col-md-3">
		  			 {{> teamBoxSely}}
		  		</div>
		  		<div class="col-xs-6 col-sm-3 col-md-3">
		  			 		  			 {{> teamBoxAlicia}}
		  		</div>
		  		<div class="col-xs-6 col-sm-3 col-md-3">
		  			 {{> teamBoxJustin}}
		  		</div>
		  		<div class="col-xs-6 col-sm-3 col-md-3">
		  				  			 {{> teamBoxDan}}
		  	</div>
  				
  			</div>
  			<div class="row">
  				<div class="col-xs-6 col-sm-3 col-md-3">
		  			 {{> teamBoxJavin}}
		  		</div>
		  		<div class="col-xs-6 col-sm-3 col-md-3">
		  			 {{> teamBoxZooey}}
		  		</div>
		  		<div class="col-xs-6 col-sm-3 col-md-3">
		  			{{> teamBoxAn}}
		  		</div>
		  		<div class="col-xs-6 col-sm-3 col-md-3">
		  			{{> teamBoxAllison}}
		  		</div>
  			</div>
  			
  		</div> -->
  		
  	</div>
  </div>
</section>

</template>

<!-- DEFINITELY NEEDS FIXING -->

<template name="teamBoxSely">
			<div class="team box">
				<div class="inner">
						<div class="avatar"><img src="img/sely.jpg" alt="" class="img-responsive avatar-circle"></div>
						<h3 class="uppercase">Selynna Sun</h3>
				    <p class="subtitle uppercase" style="color:white;">Lead Organizer</p>
				</div>
			</div>			
</template>

<template name="teamBoxAlicia">

	<div class="team box">
		<div class="inner">
				<div class="avatar"><img src="img/alicia.jpg" alt="" class="img-responsive avatar-circle"></div>
				<h3 class="uppercase">Alicia Leong</h3>
		    <p class="subtitle uppercase" style="color:white;">Lead Organizer</p>
		</div>
	</div>
</template>

<template name="teamBoxDan">

	<div class="team box">
		<div class="inner">
				<div class="avatar"><img src="img/dan.jpg" alt="" class="img-responsive avatar-circle"></div>
				<h3 class="uppercase">Dan Appel</h3>
		    <p class="subtitle uppercase" style="color:white;">Tech Team</p>
		</div>
	</div>

</template>

<template name="teamBoxJustin">

	<div class="team box">
		<div class="inner">
				<div class="avatar"><img src="img/justin.jpg" alt="" class="img-responsive avatar-circle"></div>
				<h3 class="uppercase">Justin Yu</h3>
		    <p class="subtitle uppercase" style="color:white;">Tech Team</p>
		</div>
	</div>

</template>

<template name="teamBoxJavin">

	<div class="team box">
		<div class="inner">
				<div class="avatar"><img src="img/javin.jpg" alt="" class="img-responsive avatar-circle"></div>
				<h3 class="uppercase">Javin Pombra</h3>
		    <p class="subtitle uppercase" style="color:white;">Tech Team</p>
		</div>
	</div>

</template>

<template name="teamBoxZooey">

	<div class="team box">
		<div class="inner">
				<div class="avatar"><img src="img/zooey.jpg" alt="" class="img-responsive avatar-circle"></div>
				<h3 class="uppercase">Zooey Nguyen</h3>
		    <p class="subtitle uppercase" style="color:white;">Outreach Team</p>
		</div>
	</div>

</template>

<template name="teamBoxAn">

	<div class="team box">
		<div class="inner">
				<div class="avatar"><img src="img/an.jpg" alt="" class="img-responsive avatar-circle"></div>
				<h3 class="uppercase">An Huynh</h3>
		    <p class="subtitle uppercase" style="color:white;">Outreach Team</p>
		</div>
	</div>

</template>

<template name="teamBoxAllison">

	<div class="team box">
		<div class="inner">
				<div class="avatar"><img src="img/allison.jpg" alt="" class="img-responsive avatar-circle"></div>
				<h3 class="uppercase">Allison Yih</h3>
		    <p class="subtitle uppercase" style="color:white;">Outreach Team</p>
		</div>
	</div>

</template>

<template name="teamBoxAashia">
	<div class="team box">
		<div class="inner">
				<div class="avatar"><img src="img/aashia.jpg" alt="" class="img-responsive avatar-circle"></div>
				<h3 class="uppercase">Aashia Mehta</h3>
		    <p class="subtitle uppercase" style="color:white;">Outreach Team</p>
		</div>
	</div>
</template>