<template name="team">

<section id="team" class="red text-center">
  <div class="container" id="team-wrapper">

  	<div class="row">

  		<h2 style="margin: 0 auto;">Team</h2>
  		<ul class="flex-container">
  			{{#each directors}}
  				{{> teamBoxDirector}}
  			{{/each}}
  		</ul>

        <ul class="flex-container">
            {{#each team}}
                {{> teamBox}}
            {{/each}}
        </ul>

  	</div>
  </div>
</section>

</template>

<template name="teamBox">
 <li class="flex-item">
 	<div class="team box">
		<div class="inner">
				<div class="avatar"><img src={{imageLink}} alt="" class="img-responsive avatar-circle"></div>
				<h3 class="uppercase">{{firstName}}</h3>
                <h3 class="uppercase">{{lastName}}</h3>
		    <p class="subtitle uppercase" style="color:white;">{{position}}</p>
		</div>
	</div>
 </li>
</template>

<template name="teamBoxDirector">
 <li class="flex-item-director">
 	<div class="team box">
		<div class="inner">
				<div class="avatar"><img src={{imageLink}} alt="" class="img-responsive avatar-circle"></div>
				<h3 class="uppercase">{{firstName}}</h3>
                <h3 class="uppercase">{{lastName}}</h3>
		    <p class="subtitle uppercase" style="color:white;">{{position}}</p>
		</div>
	</div>
 </li>
</template>
