/* line 2, ../sass/style.scss */
* {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}
/* line 5, ../sass/style.scss */
* h1 {
  font-size: 40px;
  margin: 0;
}
/* line 9, ../sass/style.scss */
* h2 {
  font-size: 35px;
}
/* line 12, ../sass/style.scss */
* h3 {
  font-size: 30px;
}
/* line 15, ../sass/style.scss */
* h4 {
  font-size: 25px;
}

/* line 20, ../sass/style.scss */
section {
  padding: 2rem 0;
  position: relative;
}
/* line 23, ../sass/style.scss */
section#main {
  text-align: center;
  height: 100vh;
  position: relative;
  padding: 0;
}
/* line 29, ../sass/style.scss */
section#tldr {
  height: 800px;
}
/* line 32, ../sass/style.scss */
section:before {
  position: absolute;
  content: '';
}

/* line 38, ../sass/style.scss */
.content {
  padding: 5rem auto;
  height: calc(100% - 54px);
}

/* line 43, ../sass/style.scss */
.apply {
  margin: 2rem auto 0 auto;
  max-width: 3rem;
  padding: 1rem 2rem;
  text-decoration: none;
  display: block;
  border-radius: 2rem;
  background-color: #3498db;
  color: white;
}

/* line 55, ../sass/style.scss */
.logo-container {
  width: 25rem;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* line 64, ../sass/style.scss */
.logo-container-small {
  max-width: 2rem;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

/* line 70, ../sass/style.scss */
.logo {
  width: 90%;
  height: 90%;
  margin: 0;
  padding: 0;
}

/* line 76, ../sass/style.scss */
.diagonal {
  z-index: 1;
  padding: 3em;
}

/* line 80, ../sass/style.scss */
.diagonal:before {
  overflow-x: hidden;
  -webkit-transform: rotate(-8deg);
  transform: rotate(-8deg);
  -webkit-transform-origin: 3% 0;
  transform-origin: 3% 0;
  top: 0;
  left: -25%;
  z-index: -1;
  width: 100%;
  height: 75%;
  background: inherit;
}

/* line 95, ../sass/style.scss */
header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2c3e50;
  text-align: center;
  max-height: 90px;
}
/* line 105, ../sass/style.scss */
header li {
  display: inline-block;
}
/* line 110, ../sass/style.scss */
header li.left {
  background-color: #3498db;
}
/* line 116, ../sass/style.scss */
header li a {
  display: block;
  color: white;
  padding: 0.8rem 2rem;
  text-decoration: none;
  font-size: 18px;
}
/* line 124, ../sass/style.scss */
header li a:hover {
  background-color: #2980b9;
}
