@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeue.otf");
}
/* line 14, ../sass/style.scss */
* {
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  color: #444;
}
/* line 18, ../sass/style.scss */
* h1 {
  font-size: 50px;
  margin: 0;
}
/* line 22, ../sass/style.scss */
* h2 {
  font-size: 35px;
}
/* line 25, ../sass/style.scss */
* h3 {
  font-size: 30px;
}
/* line 28, ../sass/style.scss */
* h4 {
  font-size: 25px;
}
/* line 31, ../sass/style.scss */
* p {
  font-family: "Helvetica Neue", sans-serif;
  color: #666;
}

/* line 38, ../sass/style.scss */
section {
  z-index: 0;
  padding: 2rem 0;
  position: relative;
}
/* line 42, ../sass/style.scss */
section#main {
  text-align: center;
  height: 100vh;
  position: relative;
  padding: 0;
}
/* line 48, ../sass/style.scss */
section:before {
  position: absolute;
  content: '';
}

/* line 54, ../sass/style.scss */
.container {
  margin: 0 auto;
  display: block;
  max-width: 768px;
  width: 50%;
}

/* line 63, ../sass/style.scss */
.content {
  padding: 5rem auto;
  height: calc(100% - 44px);
}
/* line 67, ../sass/style.scss */
.content #title {
  letter-spacing: 2px;
  color: #333;
}

/* line 85, ../sass/style.scss */
.logo-container {
  width: 20rem;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* line 94, ../sass/style.scss */
.logo-container-small {
  max-width: 2rem;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

/* line 100, ../sass/style.scss */
.logo {
  width: 90%;
  height: 90%;
  margin: 0;
  padding: 0;
}

/* Big half circle */
/* line 107, ../sass/style.scss */
#bigHalfCircle path {
  fill: #2386c8;
  stroke: #2386c8;
  margin: 0;
  padding: 0;
}

/* Common style for pseudo-elements */
/* line 115, ../sass/style.scss */
*, *:after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 123, ../sass/style.scss */
#tldr {
  margin: 3rem auto;
}
/* line 125, ../sass/style.scss */
#tldr h1 {
  text-align: center;
  margin: 0 auto;
}

/* line 135, ../sass/style.scss */
#faq {
  display: inline-block;
  vertical-align: top;
  background-color: #2386c8;
  margin: 0;
}

/* line 144, ../sass/style.scss */
header {
  z-index: 999;
}
/* line 146, ../sass/style.scss */
header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2c3e50;
  text-align: center;
  list-style: none;
}
/* line 156, ../sass/style.scss */
header li {
  display: inline-block;
}
/* line 158, ../sass/style.scss */
header li.apply {
  margin-left: 1rem;
  background-color: #3498db;
}
/* line 163, ../sass/style.scss */
header li.sponsor {
  background-color: #e67e22;
}
/* line 169, ../sass/style.scss */
header li a {
  display: block;
  color: white;
  padding: 0.5rem 2rem;
  text-decoration: none;
  font-size: 20px;
  margin: 0;
  text-align: center;
  letter-spacing: 1px;
}
/* line 180, ../sass/style.scss */
header li.apply a:hover {
  background-color: #2980b9;
}
/* line 183, ../sass/style.scss */
header li.sponsor a:hover {
  background-color: #d35400;
}
