<template name="scavenger">
    <div id="scavenger-wrapper">
        <img src="img/linkedin.png" alt="Prizes!" />
        <h1>Los Altos Hacks WIT Scavenger Hunt!</h1>
        <p>
            We have an opportunity for all girls at this hackathon (sorry, dudes): the first five girls who bring us the 8 items and their respective locations for a scavenger hunt will get a LinkedIn WIT swag bag.
        </p>
        <ul>
            <li>Everything is inside the building, in allowed rooms BUT NOT IN THE REGISTRATION LOBBY. For example, no organizer rooms.</li>
            <li>Take only ONE of each of the items.</li>
            <li>Once you're done finding everything, bring it to the organizer room in Executive Conference Room #2.  Please KNOCK on the door first, and if there are multiple people, line up single file.</li>
        </ul>
        <p>
            Tweet us @losaltoshacks on Twitter if you're stuck. We'll only give out some clues if necessary.
        </p>
        <h2>Clues:</h2>
        <h4>1</h4>
        <pre>$ git cherry-pick entrance-tree</pre>
        <h4>2</h4>
        <pre>Stair into the obvious.</pre>
        <h4>3</h4>
        <pre>Hack the Planet</pre>
        <h4>4</h4>
        <pre>T-shirt smothered mate.</pre>
        <h4>5</h4>
        <pre>Hack Club: Episode V, Floor 1</pre>
        <h4>6</h4>
        <pre>Ladies only.</pre>
        <h4>7</h4>
        <pre>Ask and you shall receive, what a Micro<strong>softie.</strong></pre>
        <h4>8</h4>
        <pre>Blue in blue.</pre>
    </div>
</template>
