<div class="afterparty_wrapper">
    <div class="hero">
        <img src="img/bg.png" class="stretch" alt="">
        <div class="overlay">
            <h1 class="desktop-banner">LOS ALTOS HACKS</h1>
            <h1 class="mobile-banner">LOS ALTOS<br>HACKS</h1>
            <a href="#" id="show-arrow" class="arrow"></a>
        </div>
    </div>
    <div class="soon">
        <h3 class="soon-tm-desktop">PRIORITY REGISTRATION<br>- NOW OPEN -</h3>
        <h3 class="soon-tm-mobile">PRIORITY REGISTRATION<br>- NOW OPEN -</h3>
        <a class="typeform-share btn" href="https://losaltoshacks.typeform.com/to/n47s2D" data-mode="1" target="_blank">Sign up!</a>
        <!-- Typeform -->
        <script defer>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>
    </div>
    <div id="ap-stats">
        <h1 class="stats-title"><a class="stats-title" href="/2016">LAH 2016</a></h1>
        <h3 class="stats-subtitle">JAN. 30-31</h3>
        <div class="participants">
            <h1 class="hacker-count">176 HACKERS</h1>
            <h1 class="mentor-count">50 MENTORS</h1>
        </div>
        <div class="prizes">
            <h1>$2540 IN PRIZES</h1>
        </div>
        <div class="projects">
            <a class="btn" href="http://losaltoshacks.devpost.com/submissions">35 HACKS</a>
        </div>
    </div>
</div>
