<head>
    <meta charset="utf-8">
    <title>Los Altos Hacks II</title>
    <link href="assets/stylesheets/normalize.css" rel="stylesheet" type="text/css" />
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>
