<div class="student">
    <div class="student-img-container">
        <img src="img/students/{{first}}{{last}}.jpg" class="student-img" alt="{{first}} {{last}}">
    </div>
    <h2 class="student-name">{{first}} {{last}}</h2>
    <h4 class="student-school">{{school}}</h4>
</div>
