<!DOCTYPE html>
<html lang="en">
    {{> _head}}
    <body>
        <header id="navbar">
            <ul class="horizontal">
                <li><a href="/"><i class="fa fa-angle-double-left"></i>Home</a></li>
                <li class="scroll-anchor"><a href="#goal">Our Goal</a></li>
                <li class="scroll-anchor"><a href="#team">Team</a></li>
                <li class="apply">
                    <!-- Typeform -->
                    <a class="typeform-share btn" href="https://losaltoshacks.typeform.com/to/n47s2D" data-mode="1">Register</a>
                </li>
                <li class="sponsor"><a href="docs/sponsorship.pdf">Sponsor</a></li>
            </ul>
            <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>
        </header>
        <section id="goal">
            <div class="container">
                <h1>Our Goal</h1>
            </div>
        </section>

        <section id="team">
            <div class="container">
                <h1>The Team</h1>
            </div>
        </section>


</html>
