<!DOCTYPE html>
<html lang="en">
    {{> _head}}
    <body>
        <section id="main">
            <div class="content">
                <div class="logo-container">
                    <img class="logo" src="img/logo.svg" alt="Los Altos Hacks Logo" />
                    <h1 id="title">Los Altos Hacks II</h1>
                </div>
            </div>
            <header id="navbar">
                <ul class="horizontal">
                    <li class="left"><a href="#about">About</a></li>
                    <li class="right"><a href="#tldr">FAQ</a></li>
                    <li class="right"><a href="#sponsors">Supporters</a></li>
                    <li class="apply"><a href="https://losaltoshacks.typeform.com">Apply</a></li>
                    <li class="sponsor"><a href="#">Sponsor</a></li>
                </ul>
            </header>
        </section>

        <section id="tldr">
            <div class="container">
                <h1>What is Los Altos Hacks?</h1>
                <p>
                    Fixie synth paleo irony, taxidermy cornhole semiotics vegan. 8-bit try-hard paleo tattooed. Meditation etsy ugh chillwave VHS actually. Sriracha ethical bitters hashtag. Bitters skateboard selvage, master cleanse blog crucifix distillery kinfolk hashtag health goth disrupt pug.<br><br>Cronut selfies vice, leggings letterpress synth actually street art austin pour-over before they sold out. Pug chicharrones slow-carb polaroid, keytar synth viral narwhal roof party blue bottle.
                </p>

                <div class="carousel">
                    <div class="img-container left">
                        <img class="img-responsive" src="img/img1.jpg" alt="Opening Ceremony" />
                    </div>
                    <div class="img-container">
                        <img class="img-responsive" src="img/img1.jpg" alt="Opening Ceremony" />
                    </div>
                    <div class="img-container right">
                        <img class="img-responsive" src="img/img1.jpg" alt="Opening Ceremony" />
                    </div>
                </div>

        <!-- <section id=""> -->
                {{#faq}}
                    {{> _faq}}
                {{/faq}}
            </div>
        <!-- </section> -->

        </section>

        <script src="https://code.jquery.com/jquery-3.1.0.slim.min.js" integrity="sha256-cRpWjoSOw5KcyIOaZNo4i6fZ9tKPhYYb6i5T9RSVJG8=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="script.js"></script>

        <footer>

        </footer>
    </body>
</html>
