<!DOCTYPE html>
<html lang="en">
    {{> _head}}
    <body>
        <section id="main">
            <div class="content">
                <div class="logo-container">
                    <img class="logo" src="img/logo.png" alt="Los Altos Hacks Logo">
                    <p id="thanks-message">Thank you to all our sponsors, mentors and hackers for making Los Altos Hacks II possible.</p>
                    <p id="byline">- The Los Altos Hacks Team</p>
                </div>
            </div>
            <header id="navbar">
                <ul class="horizontal">
                    <li class="scroll-anchor"><a href="#stats">Stats</a></li>
                    <li class="scroll-anchor"><a href="#winners">Students</a></li>
                    <li class="scroll-anchor"><a href="#supporters">Supporters</a></li>
                </ul>
            </header>
        </section>

        <section id="stats">
            <div class="container">
                <h1>Statistics</h1>

                <div class="flex-container">
                    {{#stats}}
                    {{> _stat}}
                    {{/stats}}
                </div>
            </div>
        </section>

        <section id="winners">
            <div class="container">
                <h1>WINNERS</h1>
            </div>
        </section>

        <section id="supporters">
            <div class="container">
                <h2>A huge thanks to our supporters!</h2>

                <div class="flex-container">
                    {{#communityPartners}}
                    {{> _supporter}}
                    {{/communityPartners}}
                </div>
            </div>
        </section>

        <footer>
            <a class="left" href="/2016">Visit 2016</a>
            <a class="left" href="/2017">Visit 2017</a>

            <div class="right">
                <a class="social-media">Find us on:</a>
                <a href="https://www.facebook.com/losaltoshacks"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                <a href="https://twitter.com/losaltoshacks"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="https://www.instagram.com/losaltoshacks"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
        </footer>

    </body>
</html>
