<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Los Altos Hacks II</title>
        <link href="/style.css" rel="stylesheet" type="text/css">
    
        <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
    
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="icon" type="image/png" href="/favicon.png">
        <link rel="apple-touch-icon" href="/touch-icon.png">
    
        <script src="https://use.fontawesome.com/da7c8e76c3.js"></script>
    </head>
    <body>
        <section id="main">
            <!-- <div class="canvas-darken">
                <canvas id="canvas"></canvas>
            </div> -->
            <div class="content">
                <div class="logo-container">
                    <img class="logo" src="img/logo.svg" alt="Los Altos Hacks Logo" />
                    <h1 id="title">Los Altos Hacks II</h1>

                    <h3>February 4-5, 2017</h3>
                    <!-- <a href="#" class="apply-button">Apply</a> -->
                </div>
            </div>
            <header id="navbar">
                <ul class="horizontal">
                    <li class="scroll-anchor"><a href="#tldr">FAQ</a></li>
                    <li class="scroll-anchor"><a href="#supporters">Supporters</a></li>
                    <li class="scroll-anchor"><a href="#schools">Students</a></li>
                    <li class="apply">
                        <!-- Typeform -->
                        <a class="typeform-share btn" href="https://losaltoshacks.typeform.com/to/n47s2D" data-mode="1">Register</a>
                    </li>
                    <li class="sponsor"><a href="docs/sponsorship.pdf">Sponsor</a></li>
                </ul>
                <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>
            </header>
        </section>


        <section id="tldr">
            <div class="container">
                <h1 id="tldr-title">What is Los Altos Hacks?</h1>
                <p id="tldr-desc">
                    Los Altos Hacks is a hackathon run by students from Los Altos High School.
                    A hackathon is an event where people can code a project together.
                    At Los Altos Hacks, you will have 24 hours to make your idea a reality.
                    This year, we're hoping to have around 350 attendees with a 50:50 gender ratio.
                </p>
                <!-- <div class="carousel flex-container-carousel">
                    <div class="img-container left">
                        <img class="img-responsive" src="img/img1.jpg" alt="Opening Ceremony" />
                        <h3>Opening Ceremony</h3>
                    </div>
                    <div class="img-container">
                        <img class="img-responsive" src="img/img2.png" alt="Teams Working" />
                        <h3>Teams Working</h3>
                    </div>
                    <div class="img-container right">
                        <img class="img-responsive" src="img/img3.jpg" alt="Demos" />
                        <h3>Demos</h3>
                    </div>
                </div> -->

        <!-- <section id=""> -->
                <div class="flex-container-faq">
                        <div class="faq">
                            <h2 class="faq-question">Who can participate?</h2>
                            <p class="faq-answer">Any high school student can participate. If you’ve already graduated from high school, you can’t participate, but you can come help mentor others.</p>
                        </div>
                        <div class="faq">
                            <h2 class="faq-question">How do I form or join a team?</h2>
                            <p class="faq-answer">You can either specify your team on the application or form teams at the hackathon, where we’ll have a session for you to meet others. Each team can have a maximum of 4 people.</p>
                        </div>
                        <div class="faq">
                            <h2 class="faq-question">Does this cost money?</h2>
                            <p class="faq-answer">No! Los Altos Hacks is free for all participants — all food, swag, and other costs are covered.</p>
                        </div>
                        <div class="faq">
                            <h2 class="faq-question">What if I can&#39;t code?</h2>
                            <p class="faq-answer">No problem! We are accepting people regardless of experience. Plus, we'll have workshops where you can learn.</p>
                        </div>
                        <div class="faq">
                            <h2 class="faq-question">What should I bring? Will I need my own laptop?</h2>
                            <p class="faq-answer">Bring a valid student ID for admission and your laptop, phone, chargers, etc. We will not provide laptops or chargers for you. Power strips, ethernet cables, sleeping bags, and toiletries are highly recommended.</p>
                        </div>
                        <div class="faq">
                            <h2 class="faq-question">What if I still have a question?</h2>
                            <p class="faq-answer">Contact us at <a href="mailto:info@losaltoshacks.com">info@losaltoshacks.com</a>.</p>
                        </div>
                </div>

            </div>
        <!-- </section> -->

        </section>

        <section id="supporters">
            <div class="container">
                <h1>Supporters</h1>
                <div class="shoutout sponsor">
                    <p>Interested in supporting us?</p>
                    <a href="docs/sponsorship.pdf">
                        <i class="fa fa-book" aria-hidden="true"></i>
                        &nbsp;Read our prospectus
                    </a>
                    <a href="mailto:sponsor@losaltoshacks.com" class="email-button">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        &nbsp;Send us an email
                    </a>
                </div>

                <div class="flex-container-supporters">
                        <a href="https://www.adobe.com">
                            <img src="img/supporters/adobe.png" alt="Abobe" class="img-responsive supporter-image sponsor">
                        </a>
                        <a href="https://redislabs.com">
                            <img src="img/supporters/redis.png" alt="Redis Labs" class="img-responsive supporter-image sponsor">
                        </a>
                        <a href="https://hacker.fund/">
                            <img src="img/supporters/hackerfund.png" alt="Hacker Fund" class="img-responsive supporter-image partner">
                        </a>
                        <a href="https://namecheap.com/">
                            <img src="img/supporters/namecheap.png" alt="namecheap" class="img-responsive supporter-image donor">
                        </a>
                        <a href="https://lob.com">
                            <img src="img/supporters/lob.png" alt="Lob" class="img-responsive supporter-image donor">
                        </a>
                        <a href="https://www.wolframalpha.com/">
                            <img src="img/supporters/wolfram.png" alt="Wolfram Alpha" class="img-responsive supporter-image donor">
                        </a>
                        <a href="https://stickermule.com/">
                            <img src="img/supporters/stickermule.png" alt="Stickermule" class="img-responsive supporter-image donor">
                        </a>
                        <a href="https://kloudless.com/">
                            <img src="img/supporters/kloudless.png" alt="Kloudless" class="img-responsive supporter-image donor">
                        </a>
                        <a href="http://www.ea.com">
                            <img src="img/supporters/ea.png" alt="EA" class="img-responsive supporter-image donor">
                        </a>
                        <a href="http://www.codeforfun.com">
                            <img src="img/supporters/codeforfun.png" alt="Code for Fun" class="img-responsive supporter-image donor">
                        </a>
                </div>
            </div>
        </section>

        <section id="schools">
            <div class="container">
                <h1>Student Representatives</h1>
                <div class="shoutout">
                    <p>Interested in representing LAH at your school?</p>
                    <a href="mailto:info@losaltoshacks.com">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        &nbsp;Send us an email
                    </a>
                </div>
                <div class="flex-container-students">
                        
                        <div class="student">
                            <div class="student-img-container">
                                <img src="img/students/AlveeraKhan.jpg" class="student-img" alt="Alveera Khan" />
                            </div>
                            <h2 class="student-name">Alveera Khan</h2>
                            <h4 class="student-school">Evergreen Valley High School</h4>
                            <!-- <h4 class="student-affiliation">Girls Who Code</h4> -->
                        </div>
                        
                        <div class="student">
                            <div class="student-img-container">
                                <img src="img/students/NikhilCheerla.jpg" class="student-img" alt="Nikhil Cheerla" />
                            </div>
                            <h2 class="student-name">Nikhil Cheerla</h2>
                            <h4 class="student-school">Monta Vista High School</h4>
                            <!-- <h4 class="student-affiliation">Computer Science Club</h4> -->
                        </div>
                        
                        <div class="student">
                            <div class="student-img-container">
                                <img src="img/students/NikashKhanna.jpg" class="student-img" alt="Nikash Khanna" />
                            </div>
                            <h2 class="student-name">Nikash Khanna</h2>
                            <h4 class="student-school">Monta Vista High School</h4>
                            <!-- <h4 class="student-affiliation">Web Dev Club</h4> -->
                        </div>
                        
                        <div class="student">
                            <div class="student-img-container">
                                <img src="img/students/AkiPraveen.jpg" class="student-img" alt="Aki Praveen" />
                            </div>
                            <h2 class="student-name">Aki Praveen</h2>
                            <h4 class="student-school">Cupertino High School</h4>
                            <!-- <h4 class="student-affiliation">Tinovation Club</h4> -->
                        </div>
                        
                        <div class="student">
                            <div class="student-img-container">
                                <img src="img/students/VanditaPendse.jpg" class="student-img" alt="Vandita Pendse" />
                            </div>
                            <h2 class="student-name">Vandita Pendse</h2>
                            <h4 class="student-school">Mountain View High School</h4>
                            <!-- <h4 class="student-affiliation">Girls Who Code</h4> -->
                        </div>
                        
                        <div class="student">
                            <div class="student-img-container">
                                <img src="img/students/ParthPendurkar.jpg" class="student-img" alt="Parth Pendurkar" />
                            </div>
                            <h2 class="student-name">Parth Pendurkar</h2>
                            <h4 class="student-school">Harker High School</h4>
                            <!-- <h4 class="student-affiliation">Harker Programming Club</h4> -->
                        </div>
                        
                        <div class="student">
                            <div class="student-img-container">
                                <img src="img/students/ValChoung.jpg" class="student-img" alt="Val Choung" />
                            </div>
                            <h2 class="student-name">Val Choung</h2>
                            <h4 class="student-school">Mission SJ High School</h4>
                            <!-- <h4 class="student-affiliation">Computer Science Club</h4> -->
                        </div>
                        
                        <div class="student">
                            <div class="student-img-container">
                                <img src="img/students/SamuelEscapa.jpg" class="student-img" alt="Samuel Escapa" />
                            </div>
                            <h2 class="student-name">Samuel Escapa</h2>
                            <h4 class="student-school">San Mateo High School</h4>
                            <!-- <h4 class="student-affiliation">Programming Club</h4> -->
                        </div>
                        
                        <div class="student">
                            <div class="student-img-container">
                                <img src="img/students/NikitaAshok.jpg" class="student-img" alt="Nikita Ashok" />
                            </div>
                            <h2 class="student-name">Nikita Ashok</h2>
                            <h4 class="student-school">American High School</h4>
                            <!-- <h4 class="student-affiliation">DECA</h4> -->
                        </div>
                        
                        <div class="student">
                            <div class="student-img-container">
                                <img src="img/students/RishabhMeswani.jpg" class="student-img" alt="Rishabh Meswani" />
                            </div>
                            <h2 class="student-name">Rishabh Meswani</h2>
                            <h4 class="student-school">Irvington High School</h4>
                            <!-- <h4 class="student-affiliation">Hackathons</h4> -->
                        </div>
                        
                        <div class="student">
                            <div class="student-img-container">
                                <img src="img/students/DevinMui.jpg" class="student-img" alt="Devin Mui" />
                            </div>
                            <h2 class="student-name">Devin Mui</h2>
                            <h4 class="student-school">Dublin High School</h4>
                            <!-- <h4 class="student-affiliation">DHS Build Club</h4> -->
                        </div>
                        
                        <div class="student">
                            <div class="student-img-container">
                                <img src="img/students/ManasiMaheshwari.jpg" class="student-img" alt="Manasi Maheshwari" />
                            </div>
                            <h2 class="student-name">Manasi Maheshwari</h2>
                            <h4 class="student-school">American High School</h4>
                            <!-- <h4 class="student-affiliation">Girls Who Code</h4> -->
                        </div>
                        
                        <div class="student">
                            <div class="student-img-container">
                                <img src="img/students/RuchiShah.jpg" class="student-img" alt="Ruchi Shah" />
                            </div>
                            <h2 class="student-name">Ruchi Shah</h2>
                            <h4 class="student-school">Cupertino High School</h4>
                            <!-- <h4 class="student-affiliation">Programming Club</h4> -->
                        </div>
                        
                        <div class="student">
                            <div class="student-img-container">
                                <img src="img/students/KimberlyZhu.jpg" class="student-img" alt="Kimberly Zhu" />
                            </div>
                            <h2 class="student-name">Kimberly Zhu</h2>
                            <h4 class="student-school">Cupertino High School</h4>
                            <!-- <h4 class="student-affiliation">Girls Who Code</h4> -->
                        </div>
                        
                        <div class="student">
                            <div class="student-img-container">
                                <img src="img/students/SaraSubbanna.jpg" class="student-img" alt="Sara Subbanna" />
                            </div>
                            <h2 class="student-name">Sara Subbanna</h2>
                            <h4 class="student-school">BASIS High School</h4>
                            <!-- <h4 class="student-affiliation">Base Hacks</h4> -->
                        </div>
                        
                        <div class="student">
                            <div class="student-img-container">
                                <img src="img/students/NidhiJain.jpg" class="student-img" alt="Nidhi Jain" />
                            </div>
                            <h2 class="student-name">Nidhi Jain</h2>
                            <h4 class="student-school">Saratoga High School</h4>
                            <!-- <h4 class="student-affiliation">Girls Who Code</h4> -->
                        </div>
                        
                        <div class="student">
                            <div class="student-img-container">
                                <img src="img/students/MokshJawa.jpg" class="student-img" alt="Moksh Jawa" />
                            </div>
                            <h2 class="student-name">Moksh Jawa</h2>
                            <h4 class="student-school">Washington High School</h4>
                            <!-- <h4 class="student-affiliation">WHS Coding Club</h4> -->
                        </div>
                        
                        <div class="student">
                            <div class="student-img-container">
                                <img src="img/students/YagnyaPatel.jpg" class="student-img" alt="Yagnya Patel" />
                            </div>
                            <h2 class="student-name">Yagnya Patel</h2>
                            <h4 class="student-school">Irvington High School</h4>
                            <!-- <h4 class="student-affiliation">(n/a)</h4> -->
                        </div>
                </div>
            </div>
        </section>

        <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.4.4/randomColor.js"></script> -->
        <script type="text/javascript" src="script.js"></script>

        <footer>
            <a class="left" href="/2016">Visit 2016</a>

            <div class="right">
                <a class="social-media">Find us on:</a>
                <a href="http://facebook.com/losaltoshacks"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                <a href="http://twitter.com/losaltoshacks"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="http://instagram.com/losaltoshacks"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>

        </footer>
    </body>
</html>
