<!DOCTYPE html>
<html lang="en">
    {{> _head}}
    <body>
        <section id="main">
            <div class="content">
                <div class="logo-container">
                    <img class="logo" src="img/logo.svg" alt="Los Altos Hacks Logo" />
                    <h1 id="title">Los Altos Hacks II</h1>
                </div>
            </div>
            <header id="navbar">
                <ul class="horizontal">
                    <li class="right"><a href="#tldr">FAQ</a></li>
                    <li class="right"><a href="#supporters">Supporters</a></li>
                    <li class="apply"><a href="https://losaltoshacks.typeform.com">Apply</a></li>
                    <li class="sponsor"><a href="#">Sponsor</a></li>
                </ul>
            </header>
        </section>

        <section id="tldr">
            <div class="container">
                <h1>What is Los Altos Hacks?</h1>
                <p>
                    Los Altos Hacks is the first hackathon run by students from Los Altos High School. A hackathon is an event where people can code a project together. At Los Altos Hacks, you will have 24 hours to make your idea a reality.
                </p>
                <div class="carousel flex-container">
                    <div class="img-container left">
                        <img class="img-responsive" src="img/img1.jpg" alt="Opening Ceremony" />
                    </div>
                    <div class="img-container">
                        <img class="img-responsive" src="img/img1.jpg" alt="Opening Ceremony" />
                    </div>
                    <div class="img-container right">
                        <img class="img-responsive" src="img/img1.jpg" alt="Opening Ceremony" />
                    </div>
                </div>

        <!-- <section id=""> -->
                {{#faq}}
                    {{> _faq}}
                {{/faq}}
            </div>
        <!-- </section> -->

        </section>

        <section id="supporters">
            <div class="container">
                <h1>Supporters</h1>
                <h2>Community Partners</h2>
                <div class="flex-container">
                    {{#communityPartners}}
                        {{> _supporter}}
                    {{/communityPartners}}
                </div>
                <div id="supporters-shoutout">
                    <p>Interested in supporting us?</p>
                    <a href="docs/sponsorship.pdf">Docs</a>
                    <a href="mailto:sponsor@losaltoshacks.com">Email</a>
                </div>
            </div>
        </section>

        <script src="https://code.jquery.com/jquery-3.1.0.slim.min.js" integrity="sha256-cRpWjoSOw5KcyIOaZNo4i6fZ9tKPhYYb6i5T9RSVJG8=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="script.js"></script>

        </script>

        <footer>

        </footer>
    </body>
</html>
