<template name="schedule">

<section id="schedule" class="text-center semi-white">

    <div class="container">
        <h2>Schedule</h2>
        <div class="row">
            {{#each days}}
                {{> day}}
            {{/each}}
        </div>
   </div>

</section>

</template>

<template name="day">
    <div class="col-xs-12">
        <h3>{{date}}</h3>
        <table class="table centered-table">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Event</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody>
                {{!--
                    This can't be {{#each events}} because events is a reserved word.
                    See https://github.com/meteor/meteor/issues/3156
                --}}
                {{#each scheduleItems}}
                    {{> scheduleItem}}
                {{/each}}
            </tbody>
        </table>
    </div>
</template>

<template name="scheduleItem">
    <tr>
        <td>{{time}}</td>
        <td>{{name}}</td>
        <td>{{location}}</td>
    </tr>
</template>
