<template name="schedule">

<section id="schedule" class="text-center">

    <div class="container wow fadeInLeft animated">
<!--             <div class="row col-md-12">
            <h4>{{Config.name}} - {{Config.subtitle}}</h4>
    </div> -->
        <div class="row" id="icon-row">
            <div class="col-xs-12 col-md-8 col-md-push-2">
                {{!-- <h2 class="uppercase" style="margin: 0 auto;">{{_ "Schedule"}}</h2> --}}

                <h3 class="uppercase">Day 1</h3>
                <table class="table centered-table">
                    <thead>
                        <tr>
                            <th class="time uppercase">Time</th>
                            <th class="event uppercase">Event</th>
                        </tr>
                        </thead>
                    <tbody>
                        <tr>
                            <td>12:00 AM</td>
                            <td>Doors Open</td>
                        </tr>
                    </tbody>
                </table>
                <h3 class="uppercase">Day 2</h3>
                <table class="table centered-table">
                    <thead>
                        <tr>
                            <th class="time uppercase">Time</th>
                            <th class="event uppercase">Event</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>12:00 AM</td>
                            <td>Something</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</section>

</template>