<template name="schedule">

<section id="schedule" class="text-center">

    <div class="container">
<!--             <div class="row col-md-12">
            <h4>{{Config.name}} - {{Config.subtitle}}</h4>
    </div> -->


        <!-- EVENTUALLY POPULATE THIS WITH JS -->
        <div class="row" id="icon-row">
            <div class="col-xs-12 col-md-8 col-md-push-2">
                <h2 class="uppercase" style="margin: 0 auto;">Schedule</h2>

                <h3 class="uppercase">Day 1</h3>
                <table class="table centered-table">
                    <thead>
                        <tr>
                            <th class="time uppercase">Time</th>
                            <th class="event uppercase">Event</th>
                        </tr>
                        </thead>
                    <tbody>
                        <tr>
                            <td>11:00 AM</td>
                            <td>Doors Open</td>
                        </tr>
                        <tr>
                            <td>12:00 PM</td>
                            <td>Lunch</td>
                        </tr>
                        <tr>
                            <td>1:00 PM</td>
                            <td>Start Hacking!</td>
                        </tr>
                        <tr>
                            <td>6:00 PM</td>
                            <td>Dinner</td>
                        </tr>
                    </tbody>
                </table>
                <h3 class="uppercase">Day 2</h3>
                <table class="table centered-table">
                    <thead>
                        <tr>
                            <th class="time uppercase">Time</th>
                            <th class="event uppercase">Event</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>12:00 AM</td>
                            <td>Midnight Snack</td>
                        </tr>
                        <tr>
                            <td>8:00 AM</td>
                            <td>Breakfast</td>
                        </tr>
                        <tr>
                            <td>11:00 AM</td>
                            <td>Lunch</td>
                        </tr>
                        <tr>
                            <td>1:00 PM</td>
                            <td>Submit Hacks on Challengepost</td>
                        </tr>
                        <tr>
                            <td>4:00 PM</td>
                            <td>Hackathon Ends</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</section>

</template>