<template name="supporters">

<section id="supporters" class="text-center">
    <div class="container">
        <div class="skinny-wrapper row">
            <h2 id="supporter-header" style="margin: 0 auto;">Supporters</h2>

            <h4 class="uppercase">Partnered With:</h4>

            <ul id="partner-logos" class="flex-container logos">
                <li>
                    <a href = "http://microsoft.com/">
                        <img src="img/microsoft.png" alt="Microsoft" class="supporter-item partner">
                    </a>
                </li>
                <li>
                    <a href="http://google.com">
                        <img src="img/google.svg" alt="Google" class="supporter-item partner" id="google">
                    </a>
                </li>
            </ul>

            <h4 class="supporter-title uppercase">Sponsored By:</h4>

            <ul class="flex-container logos">
                {{#each gold}}
                    {{> supporterItem}}
                {{/each}}
            </ul>

            <ul class="flex-container logos">
                {{#each bronze}}
                    {{> supporterItem}}
                {{/each}}
            </ul>

            <ul class="flex-container logos">
                {{#each inKind}}
                    {{> supporterItem}}
                {{/each}}
            </ul>

            <h4 class="supporter-title uppercase">Community Partners:</h4>

            <ul class="flex-container logos" id="community-partners">
                {{#each communityPartner}}
                    {{> supporterItem}}
                {{/each}}
            </ul>

            <h5 id="supporter-label">Interested in becoming a supporter?</h5>
            <div id="supporter-links">
                <a href="mailto:sponsor@losaltoshacks.com" id="supporter-btn">Email</a> |
                <a href="docs/sponsorship.pdf">Docs</a>
            </div>
        </div>
    </div>
</section>


</template>

<template name="supporterItem">
    <li>
        <a href={{url}}>
            <img src={{image}} alt={{name}} class="supporter-item img-responsive">
        </a>
    </li>
</template>
