#main {
    background: url('img/bg.jpg') center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    background-color: rgba(0, 0, 0, 0.75);

    padding: 5rem auto;
    height: calc(100% - 46px);

    @media (max-width: 917px) {
        height: 100%;
    }

    #title {
        color: $almost-white;
        font-weight: bold;
        font-size: 2.4rem;
    }

    #thanks-message {
        text-align: left;
        color: $almost-white;
        font-weight: normal;
    }

    #byline {
        text-align: right;
        color: $almost-white;
    }

    #subtitle {
        margin: 0;
    }

    h3 {
        letter-spacing: 1px;

        @media (max-height: 400px) {
            display: none;
        }
        color: lighten($dark-grey, 10%);
    }

    .apply-button {
        background-color: $blue;
    }
}

.logo-container {
    width: 24rem;
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;

    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.logo {
    width: 75%;
    height: 75%;
    margin: 0;
    padding: 0;
}
